* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

#key-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    background-image: url(assets/city.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#clap, #hihat, #kick, #openhat, #boom, #ride, #snare, #tom, #tink {
    background-color: #f5f5dc;
    text-align: center;
    align-items: center ;
    margin: 1em;
    border: 6px dashed rgb(235, 196, 123);
    width: 100px;
    height: 100px;
    padding: 10px 15px;
}

h1 {
    font-weight: 500;
}

p {
    font-weight: 700;
}

